*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{

    scroll-behavior:smooth;

}

body{

    background:var(--body-color);

    font-family:var(--body-font);

    color:var(--text-color);

    line-height:1.7;

}

h1,h2,h3,h4{

    color:var(--title-color);

    line-height:1.2;

}

a{

    text-decoration:none;

    color:inherit;

}

ul{

    list-style:none;

}

img{

    max-width:100%;

    display:block;

}

html{

    scroll-behavior:smooth;

}